/**
 * https://www.twitch.tv/popout/<username>/chat
 * https://psyvern.github.io/obs/twitch_chat.css
 *
 * General Settings 
 */
body {
    background: linear-gradient(45deg, rgba(255,0,100,1) 0%, rgba(0,100,255,1) 100%) !important;
}

div.popout-chat-page, section.chat-room {
    background: rgba(0,0,0,0) !important;
}

/** 
 * Badge Removal
 *
 * To remove additional badge types - moderator, bits, etc - just make a 
 * copy of the one of the following badge selectors and replace the word 
 * in between the quotes with the hover text
 */
/*
img.chat-badge[alt="Broadcaster"] {
    display: none;
}
img.chat-badge[alt="Moderator"] {
    display: none;
}
img.chat-badge[alt="Subscriber"] {
    display: none;
}
img.chat-badge[alt="Twitch Prime"] {
    display: none;
}
img.chat-badge[alt="Turbo"] {
    display: none;
}
img.chat-badge[alt="Verified"] {
    display: none;
}
*/

/* Header */
div.stream-chat-header {
    display: none !important;
}

/* Footer */
div.chat-input {
    display: none !important;
}

/* Welcome message */
.chat-line__status[data-a-target="chat-welcome-message"] {
    display: none !important;
}

/* New message */
.chat-line__message:not([data-a-target="chat-line-message"]) {
    display: none !important;
}

/**
 * Chat line box
 */
div.chat-line__message {
    margin: 3px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

/**
 * Font Size & Color
 */
span.text-fragment {
    color: #FFFFFF;
}

:root {
    font-size: 1em;
}

.chat-list--default {
    line-height: inherit;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: translate(0, 50px);
    }
    to {
        opacity: 1;
        transform: none;    
    }
}

.chat-line__message {
    animation-name: zoomIn; /* this is the animation we are choosing to use */
    animation-duration: 0.5s;
}

-webkit-scrollbar {
    display: none;
}

.simplebar-track {
    display: none;
}

.chat-scrollable-area__message-container {
    padding-bottom: 0;
}

.mention-fragment {
    font-weight: 900;
}
